.wrapper1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    background-color: gray;
    padding: 2rem;
    gap: 1rem;

}
.home {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.h {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 1rem;
}
/* .welcome {
    
} */
.maintainUser {
    display: flex;
    justify-content: space-evenly;
}