.home-hero{
    display: flex;
    align-items: center;
    margin-top: 10%;
    flex-direction: row;
    gap: 5em;
    justify-content: space-evenly;
}

.home-hero button{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2em;
    width: 200px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: none;
}

.home-hero button:hover{
    background-color: blue;
    color: white;
}