.register{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2em;
    width: 200px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: none;
}

.register:hover{
    background-color: blue;
    color: white;
}